# Project
NODE_ENV=development

# PostgreSQL
POSTGRES_USER=realestate_user
POSTGRES_PASSWORD=realestate_password
POSTGRES_DB=realestate_db
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=realestate_user
RABBITMQ_PASSWORD=realestate_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672