# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
coverage/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Docker volumes / local data
data/
docker-data/
postgres-data/
rabbitmq-data/
ipfs-data/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Prisma
*.db
*.db-journal

# Hyperledger Fabric generated artifacts
infrastructure/fabric/organizations/peerOrganizations/
infrastructure/fabric/organizations/ordererOrganizations/
infrastructure/fabric/channel-artifacts/*.block
infrastructure/fabric/channel-artifacts/*.tx
infrastructure/fabric/channel-artifacts/*.json
infrastructure/fabric/system-genesis-block/
infrastructure/fabric/production/
infrastructure/fabric/ledgers-backup/

# Fabric runtime and packages
infrastructure/fabric/*.tar.gz
infrastructure/fabric/chaincode-artifacts/*.tar.gz
infrastructure/fabric/chaincode/**/*.tar.gz

# Fabric secrets and generated private keys
infrastructure/fabric/**/keystore/
infrastructure/fabric/**/*_sk
infrastructure/fabric/**/server.key
infrastructure/fabric/**/ca.key
infrastructure/fabric/**/tls.key

# Local development tools
tools/

# Fabric CA runtime artifacts
infrastructure/fabric/organizations/fabric-ca/**/fabric-ca-server.db
infrastructure/fabric/organizations/fabric-ca/**/ca-cert.pem
infrastructure/fabric/organizations/fabric-ca/**/tls-cert.pem
infrastructure/fabric/organizations/fabric-ca/**/msp/
infrastructure/fabric/organizations/fabric-ca/**/IssuerPublicKey
infrastructure/fabric/organizations/fabric-ca/**/IssuerRevocationPublicKey
infrastructure/fabric/organizations/fabric-ca/**/IssuerSecretKey

# Fabric CA generated config
infrastructure/fabric/organizations/fabric-ca/**/fabric-ca-server-config.yaml

# TypeScript incremental build artifacts
*.tsbuildinfo
