SERVICE_NAME=blockchain-service
NODE_ENV=development

GRPC_HOST=0.0.0.0
GRPC_PORT=50055

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=realestate.events
RABBITMQ_CONTRACT_SUBMISSION_QUEUE=blockchain.contract-submission
RABBITMQ_CONTRACT_SUBMISSION_ROUTING_KEY=property.contract.submission.requested

FABRIC_CHANNEL_NAME=realestatechannel
FABRIC_CHAINCODE_NAME=realestate-contract
FABRIC_MSP_ID=PlatformMSP
FABRIC_PEER_ENDPOINT=peer0.platform.realestate.local:9051
FABRIC_TLS_CERT_PATH=/fabric/crypto/platform/tls/ca.crt
FABRIC_TLS_SERVER_NAME_OVERRIDE=
FABRIC_CERT_PATH=/fabric/crypto/platform/users/Admin@platform.realestate.local/msp/signcerts/cert.pem
FABRIC_PRIVATE_KEY_PATH=/fabric/crypto/platform/users/Admin@platform.realestate.local/msp/keystore/key.pem
